<%= form_for @flower, :html => { :class => "form-horizontal flower" } do |f| %>

  <% if @flower.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@flower.errors.count, "error") %> prohibited this flower from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @flower.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :f_name, 'Название', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :f_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:f_name) %>
  </div>
    <div class="form-group">
      <%= f.label :garden_bed_id, 'Культура', :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :culture_id, Culture.all, :id, :name, {}, {:class => 'selectpicker form-control'} %>
      </div>
      <%=f.error_span(:garden_bed_id) %>
    </div>
  <div class="form-group">
    <%= f.label :cost, 'Цена', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cost, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cost) %>
  </div>
  <div class="form-group">
    <%= f.label :garden_bed_id, 'Грядка', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :garden_bed_id, GardenBed.all, :id, :num, {}, { :class => 'selectpicker form-control'} %>
    </div>
    <%=f.error_span(:garden_bed_id) %>
  </div>
  <div class="form-group">
    <%= f.label :planting_date, 'Дата посадки', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :planting_date, :class => 'datepicker form-control' %>
    </div>
    <%=f.error_span(:planting_date) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Создать', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                flowers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
