<%= form_for @elevation, :html => { :class => "form-horizontal elevation" } do |f| %>

  <% if @elevation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@elevation.errors.count, "error") %> prohibited this elevation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @elevation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :deed_id, 'Действие', :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :deed_id, Deed.all, :id, :name, {}, {:class => 'selectpicker form-control'} %>
      </div>
      <%=f.error_span(:deed_id) %>
  </div>
  <div class="form-group">
      <%= f.label :flower_id, 'Цветок', :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :flower_id, Flower.all, :id, :f_name, {}, {:class => 'selectpicker form-control'} %>
      </div>
      <%=f.error_span(:flower_id) %>
  </div>
  <div class="form-group">
    <%= f.label :elevation_data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :elevation_data, :class => 'datepicker form-control' %>
    </div>
    <%=f.error_span(:elevation_data) %>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comment) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                elevations_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
